In [1]:
## import required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
df = pd.read_csv('top50.csv', encoding = 'latin1')
df.shape

(50, 14)

In [3]:
df.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

        Query data for following details using pandas, seaborn, matplotlib packages 
        • Display details of the songs that have popularity above 80 
        • Which is having maximum length, beats per minute? 
        • Which is having minimum length, beats per minute? 
        • Create new column <track_name_length> to store string length 
        • Create new column <Artist_first_name> to store first name of each artist 
        • How many songs from “dance pop” genre? 
        • What is average length for each genre? 
        • What is average length for each artist? 
        • What is maximum length for each genre? 
        • What is average length for each artist? 
        • How many songs share same popularity? 
        • Rank each song based on popularity. 
        • Rank each song based on danceability. 
        • Average, Maximum, Minimum, standard deviation of each column 
        • Average, Maximum, Minimum, standard deviation of each row 
        • Add a new column <length_variance> where each row will represent difference between row value and mean of the each genre group. 
        • Take log transform on Loudness DB and add as <log_loudness_db> column 
        • Visualize if there is linear correlation between beats per minutes and popularity, danceability and popularity, energy and popularity 
        • What is distribution of popularity with respect to energy 
        • What is distribution of popularity with respect to beats. Per minute 
        • Are there any outliers in popularity, danceability, beats per minute? 
        • Visual each artist distribution 
        • Visual each track name distribution 
        • Visual each genre distribution 
        • Visual artist, track, genre distribution using subplots

In [4]:
df.head(1)

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        50 non-null     int64
 1   Track.Name        50 non-null     object
 2   Artist.Name       50 non-null     object
 3   Genre             50 non-null     object
 4   Beats.Per.Minute  50 non-null     int64
 5   Energy            50 non-null     int64
 6   Danceability      50 non-null     int64
 7   Loudness..dB..    50 non-null     int64
 8   Liveness          50 non-null     int64
 9   Valence.          50 non-null     int64
 10  Length.           50 non-null     int64
 11  Acousticness..    50 non-null     int64
 12  Speechiness.      50 non-null     int64
 13  Popularity        50 non-null     int64
dtypes: int64(11), object(3)
memory usage: 5.6+ KB

In [6]:
# Display details of the songs that have popularity above 80 
df[df.Popularity > 80].head(3)

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86

In [ ]:
#To show only 'Track.Name' with popularity > 80. (remember to use "loc")
df.loc[df['Popularity'] > 80, 'Track.Name']

In [7]:
df[df['Popularity'] > 80].head(3)

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86

In [8]:
# • Which is having maximum (a)length, (b)beats per minute? 
max_len = max(df['Length.'])
# max_len
df[df['Length.'] == max_len]  # storing in a variable & passing the variable in the filter

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
22,23,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,92,79,81,-4,9,58,309,14,7,83

In [9]:
df[df['Length.'] == max(df['Length.'])] # direct

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
22,23,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,92,79,81,-4,9,58,309,14,7,83

In [10]:
df[df['Beats.Per.Minute'] == max(df['Beats.Per.Minute'])] # direct

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85

In [11]:
# • Which is having minimum (a)length, (b)beats per minute? 
df[df['Length.'] == min(df['Length.'])]

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
21,22,Panini,Lil Nas X,country rap,154,59,70,-6,12,48,115,34,8,91

In [12]:
df[df['Length.'] == np.min(df['Length.'])]

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
21,22,Panini,Lil Nas X,country rap,154,59,70,-6,12,48,115,34,8,91

In [13]:
df[df['Beats.Per.Minute'] == min(df['Beats.Per.Minute'])]

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
30,31,Takeaway,The Chainsmokers,edm,85,51,29,-8,10,36,210,12,4,84
41,42,You Need To Calm Down,Taylor Swift,dance pop,85,68,77,-6,7,73,171,1,5,90

In [14]:
# • Create new column <track_name_length> to store string length 
df['track_name_length'] = df['Track.Name'].apply(lambda x: len(x))
df.loc[:,['Track.Name','track_name_length']].head()

                        Track.Name  track_name_length
0                         Señorita                  8
1                            China                  5
2    boyfriend (with Social House)                 29
3  Beautiful People (feat. Khalid)                 31
4      Goodbyes (Feat. Young Thug)                 27

In [15]:
# • Create new column <Artist_first_name> to store first name of each artist 
#Assumption: first substring is the first name
# 'The Chainsmokers'.split(' ')[0]
df['Artist_first_name'] = df['Artist.Name'].apply(lambda x: x.split(' ')[0])
df.loc[:,['Artist.Name','Artist_first_name']].head()

     Artist.Name Artist_first_name
0   Shawn Mendes             Shawn
1       Anuel AA             Anuel
2  Ariana Grande            Ariana
3     Ed Sheeran                Ed
4    Post Malone              Post

In [16]:
# • How many songs from “dance pop” genre? 
print(df[df.Genre == 'dance pop'].shape[0])
print(len(df[df.Genre == 'dance pop']))
print(df[df.Genre == 'dance pop']['Track.Name'].count())

# if we wish to remove duplicates on Track.Name:
print(df[df.Genre == 'dance pop']['Track.Name'].nunique())
print(len(df[df.Genre == 'dance pop']['Track.Name'].unique()))
print(len(set(df[df.Genre == 'dance pop']['Track.Name'])))

8
8
8
8
8
8

In [17]:
# • What is average length for each genre? 
df.groupby(by = 'Genre')[['Length.']].mean()

                     Length.
Genre
atl hip hop       200.000000
australian pop    210.000000
big room          164.000000
boy band          181.000000
brostep           198.000000
canadian hip hop  193.000000
canadian pop      191.000000
country rap       136.000000
dance pop         202.625000
dfw rap           166.500000
edm               218.666667
electropop        194.500000
escape room       173.000000
latin             225.200000
panamanian pop    257.000000
pop               195.428571
pop house         153.000000
r&b en espanol    162.000000
reggaeton         213.500000
reggaeton flow    305.500000
trap music        131.000000

In [18]:
df2 = df.groupby(by = 'Genre')[['Length.']].mean().rename(columns = {'Length.':'length_average'})
df2.head(2)

                length_average
Genre
atl hip hop              200.0
australian pop           210.0

In [19]:
# • What is average 'Length.' for each artist? 
df.groupby('Artist.Name')[['Length.']].mean()

                  Length.
Artist.Name
Ali Gatie           213.0
Anuel AA            302.0
Ariana Grande       182.5
Bad Bunny           251.0
Billie Eilish       194.5
Chris Brown         261.0
DJ Snake            185.0
Daddy Yankee        193.0
Drake               205.0
Ed Sheeran          196.5
J Balvin            232.5
Jhay Cortez         309.0
Jonas Brothers      181.0
Katy Perry          224.0
Khalid              198.0
Kygo                228.0
Lady Gaga           216.0
Lauv                199.0
Lewis Capaldi       182.0
Lil Nas X           136.0
Lil Tecca           131.0
Lizzo               173.0
Lunay               266.0
MEDUZA              153.0
Maluma              176.0
Marshmello          198.0
Martin Garrix       164.0
Nicky Jam           202.0
Post Malone         166.5
ROSALÍA             162.0
Sam Smith           202.0
Sech                257.0
Shawn Mendes        191.0
Taylor Swift        171.0
The Chainsmokers    214.0
Tones and I         210.0
Y2K                 161.0
Young Thug          200.0

In [20]:
# • What is maximum 'Length.' for each genre? 
df.groupby('Genre')[['Length.']].max()

                  Length.
Genre
atl hip hop           200
australian pop        210
big room              164
boy band              181
brostep               214
canadian hip hop      213
canadian pop          191
country rap           157
dance pop             261
dfw rap               175
edm                   228
electropop            195
escape room           173
latin                 266
panamanian pop        288
pop                   220
pop house             153
r&b en espanol        162
reggaeton             251
reggaeton flow        309
trap music            131

In [21]:
# • What is maximum 'Length.' for each artist? 
df.groupby('Artist.Name')[['Length.']].max()

                  Length.
Artist.Name
Ali Gatie             213
Anuel AA              302
Ariana Grande         186
Bad Bunny             251
Billie Eilish         195
Chris Brown           261
DJ Snake              185
Daddy Yankee          193
Drake                 205
Ed Sheeran            220
J Balvin              243
Jhay Cortez           309
Jonas Brothers        181
Katy Perry            224
Khalid                198
Kygo                  228
Lady Gaga             216
Lauv                  199
Lewis Capaldi         182
Lil Nas X             157
Lil Tecca             131
Lizzo                 173
Lunay                 266
MEDUZA                153
Maluma                176
Marshmello            214
Martin Garrix         164
Nicky Jam             202
Post Malone           175
ROSALÍA               162
Sam Smith             202
Sech                  288
Shawn Mendes          191
Taylor Swift          171
The Chainsmokers      218
Tones and I           210
Y2K                   161
Young Thug            200

In [22]:
# • How many songs share same popularity? 
# df.groupby('Popularity').groups

In [23]:
df.groupby('Popularity')['Artist.Name'].count()

Popularity
70    1
78    1
79    1
80    1
82    2
83    2
84    3
85    1
86    2
87    4
88    8
89    8
90    3
91    7
92    3
93    1
94    1
95    1
Name: Artist.Name, dtype: int64

In [24]:
df[df.Popularity==88][['Track.Name','Popularity']].head(5)

           Track.Name  Popularity
12  Someone You Loved          88
18             Lalala          88
40        Higher Love          88
44         Con Altura          88
45    One Thing Right          88

In [25]:
df = df.append({'Track.Name':'One Thing Right', 'Popularity':88,'Danceability':29}, ignore_index= True)
df.shape

(51, 16)

In [26]:
# • Rank each song based on popularity. 
df['popularity_rank'] = df.groupby('Popularity')['Track.Name'].transform(lambda x: x.rank())
df.loc[:,['Popularity','Track.Name','popularity_rank']]

## method = average (default value): takes count of records for each Popularity and assigns average value.

,Popularity,Track.Name,popularity_rank
0,79,Señorita,1.0
1,92,China,1.0
2,85,boyfriend (with Social House),1.0
3,86,Beautiful People (feat. Khalid),1.0
4,94,Goodbyes (Feat. Young Thug),1.0
5,84,I Don't Care (with Justin Bieber),1.0
6,92,Ransom,3.0
7,90,How Do You Sleep?,1.0
8,87,Old Town Road - Remix,2.0
9,95,bad guy,1.0
10,93,Callaita,1.0
11,86,Loco Contigo (feat. J. Balvin & Tyga),2.0
12,88,Someone You Loved,8.0
13,87,Otro Trago - Remix,3.0
14,92,Money In The Grave (Drake ft. Rick Ross),2.0
15,82,No Guidance (feat. Drake),2.0
16,90,LA CANCIÓN,2.0
17,91,Sunflower - Spider-Man: Into the Spider-Verse,6.0
18,88,Lalala,5.0
19,91,Truth Hurts,7.0
20,91,Piece Of Your Heart,4.0
21,91,Panini,3.0
22,83,No Me Conoce - Remix,2.0
23,91,Soltera - Remix,5.0
24,89,bad guy (with Justin Bieber),8.0
25,70,If I Can't Have You,1.0
26,83,Dance Monkey,1.0
27,89,It's You,3.0
28,91,Con Calma,1.0
29,89,QUE PRETENDES,5.0
30,84,Takeaway,2.0
31,89,7 rings,2.0
32,89,0.958333333333333,1.0
33,89,The London (feat. J. Cole & Travis Scott),7.0
34,89,Never Really Over,4.0
35,89,Summer Days (feat. Macklemore & Patrick Stump ...,6.0
36,91,Otro Trago,2.0
37,87,Antisocial (with Travis Scott),1.0
38,80,Sucker,1.0
39,78,"fuck, i'm lonely (with Anne-Marie) - from 13 ...",1.0
40,88,Higher Love,4.0
41,90,You Need To Calm Down,3.0
42,87,Shallow,4.0
43,84,Talk,3.0
44,88,Con Altura,2.0
45,88,One Thing Right,6.5
46,88,Te Robaré,9.0
47,88,Happier,3.0
48,88,Call You Mine,1.0
49,82,Cross Me (feat. Chance the Rapper & PnB Rock),1.0
50,88,One Thing Right,6.5

In [27]:
# • Rank each song based on danceability. 
df['danceability_rank'] = df.groupby('Danceability')['Track.Name'].transform(lambda x: x.rank())
df.loc[:,['Danceability','Track.Name','danceability_rank']]

,Danceability,Track.Name,danceability_rank
0,76,Señorita,1.0
1,79,China,1.0
2,40,boyfriend (with Social House),1.0
3,64,Beautiful People (feat. Khalid),1.0
4,58,Goodbyes (Feat. Young Thug),1.0
5,80,I Don't Care (with Justin Bieber),1.0
6,75,Ransom,4.0
7,48,How Do You Sleep?,1.0
8,88,Old Town Road - Remix,2.0
9,70,bad guy,3.0
10,61,Callaita,1.0
11,82,Loco Contigo (feat. J. Balvin & Tyga),2.0
12,50,Someone You Loved,1.0
13,73,Otro Trago - Remix,2.0
14,83,Money In The Grave (Drake ft. Rick Ross),1.0
15,70,No Guidance (feat. Drake),1.0
16,75,LA CANCIÓN,2.0
17,76,Sunflower - Spider-Man: Into the Spider-Verse,2.0
18,84,Lalala,1.0
19,72,Truth Hurts,2.0
20,68,Piece Of Your Heart,1.0
21,70,Panini,2.0
22,81,No Me Conoce - Remix,1.0
23,80,Soltera - Remix,2.0
24,67,bad guy (with Justin Bieber),2.0
25,69,If I Can't Have You,3.0
26,82,Dance Monkey,1.0
27,73,It's You,1.0
28,74,Con Calma,1.0
29,64,QUE PRETENDES,2.0
30,29,Takeaway,2.0
31,78,7 rings,2.0
32,78,0.958333333333333,1.0
33,80,The London (feat. J. Cole & Travis Scott),3.0
34,77,Never Really Over,1.0
35,66,Summer Days (feat. Macklemore & Patrick Stump ...,2.0
36,75,Otro Trago,3.0
37,72,Antisocial (with Travis Scott),1.0
38,84,Sucker,2.0
39,81,"fuck, i'm lonely (with Anne-Marie) - from 13 ...",2.0
40,69,Higher Love,2.0
41,77,You Need To Calm Down,2.0
42,57,Shallow,1.0
43,90,Talk,1.0
44,88,Con Altura,1.0
45,66,One Thing Right,1.0
46,67,Te Robaré,1.0
47,69,Happier,1.0
48,59,Call You Mine,1.0
49,75,Cross Me (feat. Chance the Rapper & PnB Rock),1.0
50,29,One Thing Right,1.0

In [28]:
# • Average, Maximum, Minimum, standard deviation of each column 
df.drop('Unnamed: 0',axis = 1).describe()

,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,track_name_length,popularity_rank,danceability_rank
count,50.000000,50.000000,51.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,51.000000,50.000000,51.000000,51.00000
mean,120.060000,64.060000,70.549020,-5.660000,14.660000,54.600000,200.960000,22.160000,12.480000,87.509804,19.160000,3.019608,1.54902
std,30.898392,14.231913,13.217131,2.056448,11.118306,22.336024,39.143879,18.995553,11.161596,4.446898,14.637609,2.273677,0.72976
min,85.000000,32.000000,29.000000,-11.000000,5.000000,10.000000,115.000000,1.000000,3.000000,70.000000,4.000000,1.000000,1.00000
25%,96.000000,55.250000,66.500000,-6.750000,8.000000,38.250000,176.750000,8.250000,5.000000,86.000000,8.000000,1.000000,1.00000
50%,104.500000,66.500000,73.000000,-6.000000,11.000000,55.500000,198.000000,15.000000,7.000000,88.000000,15.000000,2.000000,1.00000
75%,137.500000,74.750000,79.500000,-4.000000,15.750000,69.500000,217.500000,33.750000,15.000000,90.500000,26.500000,4.000000,2.00000
max,190.000000,88.000000,90.000000,-2.000000,58.000000,95.000000,309.000000,75.000000,46.000000,95.000000,68.000000,9.000000,4.00000

In [29]:
numerical_columns = df.select_dtypes(include='number').columns
for operation in ['max','min','std']:
    print(df[numerical_columns].drop('Unnamed: 0',axis=1).apply(func = operation, axis = 0))
    print('\n')

Beats.Per.Minute     190.0
Energy                88.0
Danceability          90.0
Loudness..dB..        -2.0
Liveness              58.0
Valence.              95.0
Length.              309.0
Acousticness..        75.0
Speechiness.          46.0
Popularity            95.0
track_name_length     68.0
popularity_rank        9.0
danceability_rank      4.0
dtype: float64


Beats.Per.Minute      85.0
Energy                32.0
Danceability          29.0
Loudness..dB..       -11.0
Liveness               5.0
Valence.              10.0
Length.              115.0
Acousticness..         1.0
Speechiness.           3.0
Popularity            70.0
track_name_length      4.0
popularity_rank        1.0
danceability_rank      1.0
dtype: float64


Beats.Per.Minute     30.898392
Energy               14.231913
Danceability         13.217131
Loudness..dB..        2.056448
Liveness             11.118306
Valence.             22.336024
Length.              39.143879
Acousticness..       18.995553
Speechiness.         11.161596
Popularity            4.446898
track_name_length    14.637609
popularity_rank       2.273677
danceability_rank     0.729760
dtype: float64

In [30]:
# • Average, Maximum, Minimum, standard deviation of each row 
numerical_columns = df.select_dtypes(include='number').columns
for operation in ['max','min','std']:
    print(f'operation is: {operation}')
    print(df[numerical_columns].drop('Unnamed: 0', axis = 1).apply(func = operation, axis = 1))
    print('\n')

0     191.0
1     302.0
2     190.0
3     198.0
4     175.0
5     220.0
6     180.0
7     202.0
8     157.0
9     194.0
10    251.0
11    185.0
12    182.0
13    288.0
14    205.0
15    261.0
16    243.0
17    158.0
18    161.0
19    173.0
20    153.0
21    154.0
22    309.0
23    266.0
24    195.0
25    191.0
26    210.0
27    213.0
28    193.0
29    222.0
30    210.0
31    179.0
32    176.0
33    200.0
34    224.0
35    164.0
36    226.0
37    162.0
38    181.0
39    199.0
40    228.0
41    171.0
42    216.0
43    198.0
44    162.0
45    182.0
46    202.0
47    214.0
48    218.0
49    206.0
50     88.0
dtype: float64


0     -6.0
1     -4.0
2     -4.0
3     -8.0
4     -4.0
5     -5.0
6     -6.0
7     -5.0
8     -6.0
9    -11.0
10    -5.0
11    -4.0
12    -6.0
13    -2.0
14    -4.0
15    -7.0
16    -6.0
17    -6.0
18    -8.0
19    -3.0
20    -7.0
21    -6.0
22    -4.0
23    -4.0
24   -11.0
25    -4.0
26    -6.0
27    -7.0
28    -3.0
29    -4.0
30    -8.0
31   -11.0
32    -5.0
33    -7.0
34    -5.0
35    -7.0
36    -5.0
37    -5.0
38    -5.0
39    -6.0
40    -7.0
41    -6.0
42    -6.0
43    -9.0
44    -4.0
45    -2.0
46    -4.0
47    -3.0
48    -6.0
49    -6.0
50     1.0
dtype: float64


0     59.313379
1     83.879492
2     64.997239
3     56.378869
4     58.106004
5     63.646762
6     58.197167
7     59.422002
8     54.558602
9     59.609628
10    75.471424
11    53.615201
12    54.214791
13    84.796287
14    60.364704
15    71.580419
16    74.800161
17    48.810203
18    54.027533
19    59.267538
20    52.893943
21    50.026403
22    83.846242
23    71.889249
24    58.458510
25    57.754565
26    59.407977
27    60.379569
28    58.353586
29    62.705150
30    59.380887
31    57.653919
32    52.382347
33    58.121447
34    63.451880
35    51.279401
36    71.194389
37    56.911425
38    61.034143
39    56.324153
40    65.873422
41    52.912603
42    60.497722
43    63.093236
44    51.260021
45    52.314201
46    67.488271
47    61.680837
48    61.490983
49    58.455330
50    39.804470
dtype: float64

In [31]:
sns.countplot('P')